$font-size: calc(0.8rem + 0.2vw) !default
$font-weight: 400 !default
$font-family: "Poppins", "Montserrat", -apple-system, "Helvetica Neue", "Segoe UI", "Roboto", sans-serif !default
$heading-weight: 600 !default
$line-height: 1.6 !default
$link-color: #4A90E2    !default
$dark: #212121    !default
$light: #F4F1DE   !default

@function reduce($percent)
  @return rgba(mix($dark, $light), $percent / 100)
